.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  color: white;
}

h1 {
  margin: 0;
  padding: 20px 0px 20px 0px;
}

.search-form {
  background-color: #ABABAB;
  padding-top: 10px;
  padding-bottom: 10px;
}

.filter-form {
  background-color: #DEDEDE;
  padding-top: 5px;
  padding-bottom: 5px;
}

.filter-form > select {
  width: 7rem;
}

.filter-form > select:first-of-type {
  margin-right: 15px;
}

.filter-form > label {
  margin-right: 3px;
}


